<header class="header-container">
  <div class="logo">
    <a routerLink="/">
      <img src="assets/ag-1-01.png" alt="S.E.R.S. Logo" />
    </a>
  </div>
  <div>
    <h1>AK Ingénierie</h1>
  </div>

  <nav class="nav-menu">
    <ul>
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="about">A Propos</a></li>
      <li><a routerLink="services">Services</a></li>
      <li><a routerLink="projects">Projets</a></li>
      <li><a routerLink="contact">Contact</a></li>
    </ul>
  </nav>

  <div class="mobile-menu-icon" (click)="toggleMenu()">
    <i class="pi pi-bars"></i>
  </div>

  <nav class="mobile-nav-menu" *ngIf="menuOpen">
    <ul>
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="about">A Propos</a></li>
      <li><a routerLink="services">Services</a></li>
      <li><a routerLink="contact">Contact</a></li>
    </ul>
  </nav>
</header>
