<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-section about">
      <h2>À Propos de Nous</h2>
      <p style="color: #02538b;">
        Nous sommes une entreprise d'ingénierie de premier plan, fournissant des services de haute qualité et des solutions innovantes dans plusieurs secteurs.
      </p>
    </div>
    <div class="footer-section links">
      <h2>Liens Rapides</h2>
      <ul style="color: #02538b;">
        <li><a href="/" style="color: #02538b;">Accueil</a></li>
        <li><a href="about" style="color: #02538b;">À Propos</a></li>
        <li><a href="services" style="color: #02538b;">Services</a></li>
        <li><a href="projects" style="color: #02538b;">Projets</a></li>
        <li><a href="contact" style="color: #02538b;">Contact</a></li>
      </ul>
    </div>
    <div class="footer-section contact">
      <h2>Contactez-Nous</h2>
      <div style="color: #02538b;">
        <p><i class="pi pi-envelope"></i> ak.ingenierie.structurelle@gmail.com</p>
      <p><i class="pi pi-phone"></i> 0744902283</p>
      <p><i class="pi pi-map-marker"></i> 3 rue Rolland, Saint-Étienne, 42100</p>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2024 Ak Ingénierie. Tous droits réservés.</p>
  </div>
</footer>
