<div class="about-container">
  <div class="about-section">
    <h2>À Propos de Nous</h2>
    <p>
      **AK** est un spécialiste de l’ingénierie en construction de bâtiments, intervenant dans divers secteurs tels que les logements, le tertiaire, le commercial, l'hospitalier, l'enseignement, ainsi que les projets industriels, publics et privés.
    </p>
    <p>
      En tant que membre d’un groupe dynamique, AK intervient à chaque phase du projet : de la conception, à l’avant-projet, jusqu’à l’exécution.
    </p>
    <p>
      AK assiste les architectes, les promoteurs, les maîtres d'ouvrage, les bureaux d'études et les particuliers dans la concrétisation et l'exécution de leurs projets de constructions et de rénovations.
    </p>
    <p>
      Nous avons développé une assistance pointue pour fournir à nos clients des solutions optimales et durables dans la réalisation de leurs études d’ingénierie.
    </p>
    <p>
      En tant que spécialiste du calcul et du dessin des structures, AK prend en compte l’ensemble des contraintes techniques et économiques afin de garantir la stabilité et la pérennité des ouvrages.
    </p>
    <p>
      De plus, AK se spécialise dans les dispositions sismiques et les traitements au feu des structures, maîtrisant les Eurocodes pour assurer la conformité et la sécurité de chaque projet.
    </p>
  </div>

  <div class="about-image">
    <img src="assets/ag-1-01.png" alt="Image à propos de nous" />
  </div>
</div>
