<div class="contact-container">
  <div class="contact-info">
    <h2>Contactez-nous</h2>
    <p>Si vous avez des questions, n'hésitez pas à nous contacter. Nous sommes là pour vous aider avec tous vos besoins en ingénierie.</p>

    <div class="contact-details">
      <p>
        <strong>Adresse :</strong> <i class="fas fa-map-marker-alt"></i>3 rue Rolland, Saint-Étienne, 42100
      </p>
      <p>
        <strong>Téléphone :</strong> <i class="fas fa-phone-alt"></i> 0744902283
      </p>
      <p>
        <strong>Email :</strong> <i class="fas fa-envelope"></i> ak.ingenierie.structurelle@gmail.com
      </p>
      <p>
        <strong>Autre adresse :</strong> <i class="fas fa-map-marker-alt"></i>3 rue Robert Pontet, 92220 Paris
      </p>
    </div>
  </div>

  <div class="contact-form">
    <img src="../../assets/fig1.jpeg" alt="img-contact" class="contact-image">
  </div>
</div>
