<div class="app-container">
  <!-- Sidebar Component (position fixe) -->
  <app-sidebar class="sidebar"></app-sidebar>

  <div class="main-content">
    <!-- Header Component (position fixe) -->
    <app-header class="header"></app-header>

    <!-- Main area where routed components will be displayed -->
    <div class="content">
      <router-outlet></router-outlet> <!-- This will change according to the route -->
    </div>

    <!-- Footer Component (position fixe) -->
    <app-footer class="footer"></app-footer>
  </div>
</div>
