<div class="home-container">
  <div class="hero-section">
    <div class="hero-content">
      <h1>Bienvenue chez AK Ingénierie</h1>
      <p>
        AK, spécialiste en ingénierie de construction, accompagne architectes, promoteurs et particuliers à chaque phase de leurs projets dans divers secteurs, en offrant des solutions durables et sécurisées, tout en maîtrisant les Eurocodes, les dispositions sismiques et les traitements au feu.
      </p>
    </div>
  </div>

  <section class="about-us-section">
    <h2>NOS DOMAINES D'INTERVENTION</h2>
    <div class="intervention-list">
      <div class="intervention-item">
        <span>Pour des architectes, des promoteurs, des bailleurs sociaux et des entreprises</span>
      </div>
      <div class="intervention-item">
        <span>Sur des projets de construction, de réhabilitation et d'extensions</span>
      </div>
    </div>
  </section>

  <section class="our-services">
    <h2>Nos Services</h2>
    <div class="services-container">
      <div class="service-card">
        <h3>Logements</h3>
        <p>
          Construction et/ou réhabilitation d’immeubles pour le compte de maîtres d’ouvrage publics et de promoteurs privés.
        </p>
      </div>
      <div class="service-card">
        <h3>Enseignement</h3>
        <p>
          Réalisation d’écoles maternelles/primaires, collèges, lycées et bâtiments pour l’enseignement supérieur et universitaire.
        </p>
      </div>
      <div class="service-card">
        <h3>Tertiaire</h3>
        <p>
          Réalisation de bâtiments de bureaux.
        </p>
      </div>
      <div class="service-card">
        <h3>Services et Administratif</h3>
        <p>
          Construction de palais de justice, centres de secours, mairies, postes, banques, hôtels de police, et crèches.
        </p>
      </div>
      <div class="service-card">
        <h3>Hospitalier</h3>
        <p>
          Réalisation de maisons de retraite, EHPAD et hôpitaux.
        </p>
      </div>
      <div class="service-card">
        <h3>Industriels</h3>
        <p>
          Construction de bâtiments industriels légers, centres commerciaux et usines d’incinération.
        </p>
      </div>
      <div class="service-card">
        <h3>Culturel</h3>
        <p>
          Réalisation de musées et d'espaces culturels.
        </p>
      </div>
    </div>
  </section>
</div>
